.raudonasTekstas{
    color:red;

}

.didelisTekstas{
    font-size:4rem;

}

.centruotasTekstas{
    text-align:center;
}
.flex{
    display:flex;
}
.gap1{
    gap:5px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}

.kortele1{
    border: 1px solid black;
    background-color: bisque;
    padding: 10px;
    width: 350px;
}


.kortele1>h3{
    text-align: center;
    color: rgb(185, 127, 38);

}

.kortele1 >img{
    width:300px;
    height: auto;
}

section{
    margin-bottom: 20px;
    border: 5px dashed black
    
}
.relative{
    position: relative;
}
.absolute{
    position: absolute
}
.rodytiSleptiMygtukas{
    width: 100px;
    height: 35px;
    color: red
}

